<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>399.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,268},{253,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,252}}</string>
                <key>sourceSize</key>
                <string>{253,252}</string>
            </dict>
            <key>3cards.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1011},{304,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,430}}</string>
                <key>sourceSize</key>
                <string>{304,430}</string>
            </dict>
            <key>3cardsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,589},{1149,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1149,219}}</string>
                <key>sourceSize</key>
                <string>{1149,219}</string>
            </dict>
            <key>499.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,170},{253,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,252}}</string>
                <key>sourceSize</key>
                <string>{253,252}</string>
            </dict>
            <key>bgbean.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,51},{249,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,58}}</string>
                <key>sourceSize</key>
                <string>{249,58}</string>
            </dict>
            <key>bgg.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,5},{523,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,31}}</string>
                <key>sourceSize</key>
                <string>{523,31}</string>
            </dict>
            <key>border.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1330},{558,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,328}}</string>
                <key>sourceSize</key>
                <string>{558,328}</string>
            </dict>
            <key>brand.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,823},{276,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,350}}</string>
                <key>sourceSize</key>
                <string>{276,350}</string>
            </dict>
            <key>cards.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,24},{93,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,68}}</string>
                <key>sourceSize</key>
                <string>{93,68}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,59},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>creat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,132},{256,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,89}}</string>
                <key>sourceSize</key>
                <string>{256,89}</string>
            </dict>
            <key>ct.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,107},{259,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,82}}</string>
                <key>sourceSize</key>
                <string>{259,82}</string>
            </dict>
            <key>free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,724},{272,350}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,350}}</string>
                <key>sourceSize</key>
                <string>{276,350}</string>
            </dict>
            <key>gbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,24},{628,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,31}}</string>
                <key>sourceSize</key>
                <string>{628,31}</string>
            </dict>
            <key>get.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,70},{278,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,68}}</string>
                <key>sourceSize</key>
                <string>{278,68}</string>
            </dict>
            <key>green.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,5},{523,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,31}}</string>
                <key>sourceSize</key>
                <string>{523,31}</string>
            </dict>
            <key>happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,724},{272,350}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,350}}</string>
                <key>sourceSize</key>
                <string>{276,350}</string>
            </dict>
            <key>input.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,153},{286,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,100}}</string>
                <key>sourceSize</key>
                <string>{286,100}</string>
            </dict>
            <key>join.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,124},{256,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,89}}</string>
                <key>sourceSize</key>
                <string>{256,89}</string>
            </dict>
            <key>ming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,437},{272,350}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,350}}</string>
                <key>sourceSize</key>
                <string>{276,350}</string>
            </dict>
            <key>miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,1011},{306,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,436}}</string>
                <key>sourceSize</key>
                <string>{306,436}</string>
            </dict>
            <key>niuniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1114},{308,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,427}}</string>
                <key>sourceSize</key>
                <string>{308,427}</string>
            </dict>
            <key>niuniubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,355},{1149,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1149,219}}</string>
                <key>sourceSize</key>
                <string>{1149,219}</string>
            </dict>
            <key>nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,823},{274,350}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,350}}</string>
                <key>sourceSize</key>
                <string>{276,350}</string>
            </dict>
            <key>normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,823},{274,350}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,350}}</string>
                <key>sourceSize</key>
                <string>{276,350}</string>
            </dict>
            <key>opcity.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{911,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{911,4}}</string>
                <key>sourceSize</key>
                <string>{911,4}</string>
            </dict>
            <key>radiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,5},{121,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,39}}</string>
                <key>sourceSize</key>
                <string>{121,39}</string>
            </dict>
            <key>rankbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,236},{889,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{889,104}}</string>
                <key>sourceSize</key>
                <string>{889,104}</string>
            </dict>
            <key>rec.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,5},{121,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,41}}</string>
                <key>sourceSize</key>
                <string>{121,41}</string>
            </dict>
            <key>record.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,51},{128,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>rect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,59},{161,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,58}}</string>
                <key>sourceSize</key>
                <string>{161,58}</string>
            </dict>
            <key>roombg.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1112},{306,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,432}}</string>
                <key>sourceSize</key>
                <string>{306,432}</string>
            </dict>
            <key>set.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,70},{278,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,68}}</string>
                <key>sourceSize</key>
                <string>{278,68}</string>
            </dict>
            <key>sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,75},{222,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,80}}</string>
                <key>sourceSize</key>
                <string>{222,80}</string>
            </dict>
            <key>textbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,24},{149,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,57}}</string>
                <key>sourceSize</key>
                <string>{149,57}</string>
            </dict>
            <key>we.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,150},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,75},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>商城-房卡（大）备份-拷贝.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,153},{163,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,181}}</string>
                <key>sourceSize</key>
                <string>{163,181}</string>
            </dict>
            <key>房卡@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,5},{249,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,55}}</string>
                <key>sourceSize</key>
                <string>{249,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caa28fe79c0516085e2367c872dd0216$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
