<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{167,0},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{507,0},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bean.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,37}</string>
                <key>spriteSourceSize</key>
                <string>{41,37}</string>
                <key>textureRect</key>
                <string>{{126,0},{41,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beanbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,51}</string>
                <key>spriteSourceSize</key>
                <string>{243,51}</string>
                <key>textureRect</key>
                <string>{{255,84},{243,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{90,0},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cancle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,80}</string>
                <key>spriteSourceSize</key>
                <string>{222,80}</string>
                <key>textureRect</key>
                <string>{{699,84},{222,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1143,0},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dollar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{631,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dropdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{887,0},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elliptical.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{329,0},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>email.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,54}</string>
                <key>spriteSourceSize</key>
                <string>{147,54}</string>
                <key>textureRect</key>
                <string>{{1837,0},{147,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{569,0},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{62,0},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{951,0},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{1015,0},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{445,0},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{1697,0},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{1079,0},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mike.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{823,0},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,64}</string>
                <key>spriteSourceSize</key>
                <string>{139,64}</string>
                <key>textureRect</key>
                <string>{{0,84},{139,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,39}</string>
                <key>spriteSourceSize</key>
                <string>{56,39}</string>
                <key>textureRect</key>
                <string>{{212,0},{56,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,96}</string>
                <key>spriteSourceSize</key>
                <string>{350,96}</string>
                <key>textureRect</key>
                <string>{{1579,84},{350,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{1219,0},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>power.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,25}</string>
                <key>spriteSourceSize</key>
                <string>{18,25}</string>
                <key>textureRect</key>
                <string>{{14,0},{18,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,63}</string>
                <key>spriteSourceSize</key>
                <string>{136,63}</string>
                <key>textureRect</key>
                <string>{{1561,0},{136,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,100}</string>
                <key>spriteSourceSize</key>
                <string>{201,100}</string>
                <key>textureRect</key>
                <string>{{498,84},{201,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>recharge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,130}</string>
                <key>spriteSourceSize</key>
                <string>{175,130}</string>
                <key>textureRect</key>
                <string>{{1143,84},{175,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,58}</string>
                <key>spriteSourceSize</key>
                <string>{128,58}</string>
                <key>textureRect</key>
                <string>{{1299,0},{128,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{387,0},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1250,74}</string>
                <key>spriteSourceSize</key>
                <string>{1250,74}</string>
                <key>textureRect</key>
                <string>{{0,249},{1250,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{759,0},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,60}</string>
                <key>spriteSourceSize</key>
                <string>{134,60}</string>
                <key>textureRect</key>
                <string>{{1427,0},{134,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoppingcar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,130}</string>
                <key>spriteSourceSize</key>
                <string>{116,130}</string>
                <key>textureRect</key>
                <string>{{139,84},{116,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suona.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{268,0},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,80}</string>
                <key>spriteSourceSize</key>
                <string>{222,80}</string>
                <key>textureRect</key>
                <string>{{921,84},{222,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{918,35}</string>
                <key>spriteSourceSize</key>
                <string>{918,35}</string>
                <key>textureRect</key>
                <string>{{0,214},{918,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,90}</string>
                <key>spriteSourceSize</key>
                <string>{261,90}</string>
                <key>textureRect</key>
                <string>{{1318,84},{261,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wifi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{32,0},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>系统设置.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{695,0},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1984,323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7eb0b014456f8ebc331e0139575f23b:c9e044f64f38ea8b1204bde2d436fd46:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
