<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{50,72}</string>
                <key>textureRect</key>
                <string>{{0,181},{50,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{33,0},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{0,45},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,68}</string>
                <key>spriteSourceSize</key>
                <string>{49,68}</string>
                <key>textureRect</key>
                <string>{{0,113},{49,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{0,79},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{22,0},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hei1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{32,11},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,9}</string>
                <key>spriteSourceSize</key>
                <string>{11,9}</string>
                <key>textureRect</key>
                <string>{{11,0},{11,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{0,11},{32,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>puke.png</string>
            <key>size</key>
            <string>{64,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dd86fa0c2fd6e3bafe1da1b132db965:38f95743a1a8872867d45a192134c1aa:56971e5ac62f1f6c931570a29ce5837b$</string>
            <key>textureFileName</key>
            <string>puke.png</string>
        </dict>
    </dict>
</plist>
