<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,347},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,232},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>101.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,117},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>102.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>103.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,805},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,690},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,576},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,462},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,347},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,232},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,117},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>保--存-@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{184,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,80}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>形状-5@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,991},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>直线.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{687,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,1}}</string>
                <key>sourceSize</key>
                <string>{687,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userinfo.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a21384e47a5c68cabd55cd8fa0a24f75$</string>
            <key>textureFileName</key>
            <string>userinfo.png</string>
        </dict>
    </dict>
</plist>
