<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bj_czf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{886,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{886,575}}</string>
                <key>sourceSize</key>
                <string>{886,575}</string>
            </dict>
            <key>cz_bjz.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,894},{317,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,313}}</string>
                <key>sourceSize</key>
                <string>{317,313}</string>
            </dict>
            <key>cz_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>cz_wxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,579},{317,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,313}}</string>
                <key>sourceSize</key>
                <string>{317,313}</string>
            </dict>
            <key>cz_zfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,33},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>kf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1629},{208,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,270}}</string>
                <key>sourceSize</key>
                <string>{208,270}</string>
            </dict>
            <key>way_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{1043,665}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1043,665}}</string>
                <key>sourceSize</key>
                <string>{1043,665}</string>
            </dict>
            <key>wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1419},{208,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,270}}</string>
                <key>sourceSize</key>
                <string>{208,270}</string>
            </dict>
            <key>wxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>zfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1209},{208,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,270}}</string>
                <key>sourceSize</key>
                <string>{208,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wx-Alipay.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97de97123d5af48691a9dbfa6d4f24b2$</string>
            <key>textureFileName</key>
            <string>wx-Alipay.png</string>
        </dict>
    </dict>
</plist>
