<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QQ登录按钮.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,852},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>allbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,5},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>logo2-拷贝@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,745},{608,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,492}}</string>
                <key>sourceSize</key>
                <string>{608,492}</string>
            </dict>
            <key>人物.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1305},{586,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,684}}</string>
                <key>sourceSize</key>
                <string>{586,684}</string>
            </dict>
            <key>勾.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2009},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>协议框.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2009},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>微信登录按钮.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,745},{203,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,87}}</string>
                <key>sourceSize</key>
                <string>{203,87}</string>
            </dict>
            <key>手机按钮.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,745},{334,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,60}}</string>
                <key>sourceSize</key>
                <string>{334,60}</string>
            </dict>
            <key>登-录.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,825},{333,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,92}}</string>
                <key>sourceSize</key>
                <string>{333,92}</string>
            </dict>
            <key>背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,5},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>获取按钮.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,745},{115,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,63}}</string>
                <key>sourceSize</key>
                <string>{115,63}</string>
            </dict>
            <key>遮罩.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9877312e4a8cf733ef7fbc023dc643d$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
