<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{463,645}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,645}}</string>
                <key>sourceSize</key>
                <string>{463,645}</string>
            </dict>
            <key>cm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,895},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>cm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>cm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,895},{60,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>cm_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>cuopai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,649},{237,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,244}}</string>
                <key>sourceSize</key>
                <string>{237,244}</string>
            </dict>
            <key>cuopai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{244,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,198}}</string>
                <key>sourceSize</key>
                <string>{244,198}</string>
            </dict>
            <key>cuopai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{223,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,244}}</string>
                <key>sourceSize</key>
                <string>{223,244}</string>
            </dict>
            <key>cuopai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cuopai.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3d316abfa4bf710f44173bb0c1c04d1$</string>
            <key>textureFileName</key>
            <string>cuopai.png</string>
        </dict>
    </dict>
</plist>
