<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{626,251},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,328}</string>
                <key>spriteSourceSize</key>
                <string>{558,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{558,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{692,251},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{758,251},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{824,307},{64,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{910,307},{64,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settingbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,720}</string>
                <key>spriteSourceSize</key>
                <string>{248,720}</string>
                <key>textureRect</key>
                <string>{{561,1},{248,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shoppingcar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,63}</string>
                <key>spriteSourceSize</key>
                <string>{99,63}</string>
                <key>textureRect</key>
                <string>{{561,251},{99,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,54}</string>
                <key>spriteSourceSize</key>
                <string>{432,54}</string>
                <key>textureRect</key>
                <string>{{824,251},{432,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>voice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{996,307},{64,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niu_main.png</string>
            <key>size</key>
            <string>{1282,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55a105637bfa49d11d15623d7be92eb8:368be0c67d700d697ac71f6b1425a09a:934d3f53bd251caac3ebc531824acb7e$</string>
            <key>textureFileName</key>
            <string>niu_main.png</string>
        </dict>
    </dict>
</plist>
