<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,231},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{222,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,80}}</string>
                <key>sourceSize</key>
                <string>{222,80}</string>
            </dict>
            <key>cuopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,396},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>double.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,84},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>liangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,231},{145,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,68}}</string>
                <key>sourceSize</key>
                <string>{145,68}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,80}}</string>
                <key>sourceSize</key>
                <string>{222,80}</string>
            </dict>
            <key>open.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,249},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
            <key>prepare.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,84},{163,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,77}}</string>
                <key>sourceSize</key>
                <string>{163,77}</string>
            </dict>
            <key>qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,378},{145,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,68}}</string>
                <key>sourceSize</key>
                <string>{145,68}</string>
            </dict>
            <key>sit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{163,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,77}}</string>
                <key>sourceSize</key>
                <string>{163,77}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{213,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,69}}</string>
                <key>sourceSize</key>
                <string>{213,69}</string>
            </dict>
            <key>tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,84},{145,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,68}}</string>
                <key>sourceSize</key>
                <string>{145,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niu_gamebutton.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a94e0f06fb98625a094bd834b8b7056$</string>
            <key>textureFileName</key>
            <string>niu_gamebutton.png</string>
        </dict>
    </dict>
</plist>
