<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phonebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,41}</string>
                <key>spriteSourceSize</key>
                <string>{156,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>power.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,25}</string>
                <key>spriteSourceSize</key>
                <string>{18,25}</string>
                <key>textureRect</key>
                <string>{{183,1},{18,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wifi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{159,1},{30,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>phone.png</string>
            <key>size</key>
            <string>{202,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41096c7148664bac69d912f5848ad079:d8d53acaea63d07091ba9524772e2658:a11ef58de83abc03c11f82b71493195e$</string>
            <key>textureFileName</key>
            <string>phone.png</string>
        </dict>
    </dict>
</plist>
