<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{1,1},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reduce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,9}</string>
                <key>spriteSourceSize</key>
                <string>{14,9}</string>
                <key>textureRect</key>
                <string>{{1,26},{14,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhengfu.png</string>
            <key>size</key>
            <string>{26,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ccd457546c5db18ec487d11642025d:299d22de43b71b6d412fae7612861ead:5c940fa05d16bb122fb39aff46c8cb35$</string>
            <key>textureFileName</key>
            <string>zhengfu.png</string>
        </dict>
    </dict>
</plist>
