<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,198},{225,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,96}}</string>
                <key>sourceSize</key>
                <string>{225,96}</string>
            </dict>
            <key>1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,100},{225,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,96}}</string>
                <key>sourceSize</key>
                <string>{225,96}</string>
            </dict>
            <key>2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1449},{163,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,96}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1284},{163,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,96}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
            <key>3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1215},{163,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,96}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1200},{163,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,96}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
            <key>4-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1117},{163,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,96}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1019},{163,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,96}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
            <key>5-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,921},{163,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,96}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,823},{163,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,96}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
            <key>6-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,725},{163,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,96}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,627},{163,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,96}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
            <key>always-disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{225,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,96}}</string>
                <key>sourceSize</key>
                <string>{225,96}</string>
            </dict>
            <key>bj@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>bj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,604},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>coin-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1920},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>coin-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1844},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>coin-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1909},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>coin-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1909},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>coin-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1834},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>coin-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1759},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>count_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,762},{120,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,33}}</string>
                <key>sourceSize</key>
                <string>{120,33}</string>
            </dict>
            <key>count_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,727},{120,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,33}}</string>
                <key>sourceSize</key>
                <string>{120,33}</string>
            </dict>
            <key>count_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2006},{120,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,33}}</string>
                <key>sourceSize</key>
                <string>{120,33}</string>
            </dict>
            <key>count_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2006},{120,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,33}}</string>
                <key>sourceSize</key>
                <string>{120,33}</string>
            </dict>
            <key>discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1680},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>look@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1135},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>me_zp@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,523},{79,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,109}}</string>
                <key>sourceSize</key>
                <string>{79,109}</string>
            </dict>
            <key>person.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,412},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>person_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,398},{129,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,185}}</string>
                <key>sourceSize</key>
                <string>{129,185}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,797},{336,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,106}}</string>
                <key>sourceSize</key>
                <string>{336,106}</string>
            </dict>
            <key>prepare@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2006},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>see.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>zp@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1985},{60,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>下拉按钮.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1614},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>不可按.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,529},{163,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,96}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
            <key>准备.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,296},{201,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,100}}</string>
                <key>sourceSize</key>
                <string>{201,100}</string>
            </dict>
            <key>商场@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1135},{99,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,63}}</string>
                <key>sourceSize</key>
                <string>{99,63}</string>
            </dict>
            <key>帮助说明.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,346},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>消息.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,260},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>系统设置背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{248,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,720}}</string>
                <key>sourceSize</key>
                <string>{248,720}</string>
            </dict>
            <key>设置.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,174},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>话筒.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,88},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>返回大厅.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>返回框.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1284},{558,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,328}}</string>
                <key>sourceSize</key>
                <string>{558,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zjh.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d045829660c5cc574014c1a5ef0fec5e$</string>
            <key>textureFileName</key>
            <string>zjh.png</string>
        </dict>
    </dict>
</plist>
